# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug*/ 
[Rr]elease*/ 
x64/ 
x86/ 
[Oo]bj/ 
[Bb]in/
[Ll]og*/

# Visual Studio cache/options directory
.vs/

# Auto generated and test results
Generated\ Files/
[Tt]est[Rr]esult*/
BuildLog.* 
*.VisualState.xml 
TestResult.xml 
nunit-*.xml 
*.coverage 
*.coveragexml 
.coverlet 
coverage*.json 
coverage*.xml 
coverage*.info

# .NET and ASP.NET files
project.lock.json 
artifacts/ 
ScaffoldingReadMe.txt 
StyleCopReport.xml 
*.nuget.props 
*.nuget.targets

# Files built by Visual Studio
*_i.c 
*_p.c 
*_h.h 
*.ilk 
*.meta 
*.obj 
*.pdb 
*.log 
*.tlog 
*.vspscc 
*.vssscc 
.builds 
*.svclog

# Directories
ClientBin/
node_modules/
dist/
.idea
.vscode/
.history/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE and build system files
*.pidb 
*.tmp_proj 
*.tss 
*.nvuser
*.sln.iml
